<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.launching.vmInstallTypes">
      <vmInstallType
            class="org.eclipsejc.core.JCVMInstallType"
            id="org.eclipsejc.core.JCVMInstallType">
      </vmInstallType>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.executionEnvironments">
      <environment
            description="JavaCard Classic"
            id="JavaCard"
            profileProperties="jcvm.properties">
      </environment>
      <analyzer
            class="org.eclipsejc.core.JCExecutionEnvironmentAnalyzer"
            id="org.eclipsejc.core.JCanalyzer">
      </analyzer>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="cap"
            id="org.eclipsejc.core.cap"
            name="Java Card Converted Applet"
            priority="normal">
      </content-type>
      <content-type
            file-extensions="jca"
            id="org.eclipsejc.core.jca"
            name="Java Card Assembly"
            priority="normal">
      </content-type>
      <content-type
            id="org.eclipsejc.core.exp"
            name="Java Card Export file"
            priority="normal">
      </content-type>
   </extension>
   <extension
         id="capBuilder"
         name="Java Card CAP builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipsejc.builder.CapBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="jcNature"
         name="Java Card Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipsejc.builder.JCNature">
         </run>
      </runtime>
      <builder
            id="org.eclipsejc.core.capBuilder">
      </builder>
   </extension>

</plugin>
