<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.launching.vmInstallTypes">
      <vmInstallType
            class="org.eclipsejc.core.JCVMInstallType"
            id="org.eclipsejc.core.JCVMInstallType">
      </vmInstallType>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.executionEnvironments">
      <environment
            description="JavaCard Classic"
            id="JavaCard"
            profileProperties="jcvm.properties">
      </environment>
      <analyzer
            class="org.eclipsejc.core.JCExecutionEnvironmentAnalyzer"
            id="org.eclipsejc.core.JCanalyzer">
      </analyzer>
   </extension>

</plugin>
